BasedOnStyle: Mozilla
BreakBeforeBraces: Mozilla
AccessModifierOffset: -4
ColumnLimit: 80
UseTab: Never
IndentWidth: 4
BinPackArguments: false
BinPackParameters: false
Standard: c++20
AlignOperands: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SpacesInSquareBrackets: false
AlwaysBreakTemplateDeclarations: true
# BreakBeforeConceptDeclarations: true
# IndentRequires: false
# BeforeLambdaBody: false
SpacesInSquareBrackets: false
AllowShortEnumsOnASingleLine: true
