[submodule "external/ut"]
	path = external/ut
	url = https://github.com/boost-experimental/ut.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
