[submodule "external/ut"]
	path = external/ut
	url = https://github.com/boost-experimental/ut.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/hayai"]
	path = external/hayai
	url = https://github.com/nickbruun/hayai.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "external/random123"]
	path = external/random123
	url = https://github.com/DEShawResearch/random123.git
[submodule "external/leaf"]
	path = external/leaf
	url = https://github.com/boostorg/leaf.git
