name: MacOS

on:
  push:
    branches: [ master, test ]
  pull_request:
    branches: [ master, test ]

env:
  TEST_OUTPUT_ON_FAILURE: 1
  CC: clang
  CXX: clang++

jobs:
  build:
    runs-on: macos-latest
    strategy:
      matrix:
        BUILD_TYPE: [Debug, RelWithDebInfo, Release]

    steps:
    - name: Checkout repository and submodule
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Install dependencies
      run: brew install glew glfw

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -C ${{env.BUILD_TYPE}}
