name: Windows

on:
  push:
    branches: [ master, test ]
  pull_request:
    branches: [ master, test ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        BUILD_TYPE: [Debug, Release]

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
    
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{matrix.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest -VV -C ${{matrix.BUILD_TYPE}} --rerun-failed --output-on-failure --debug

    - name: Prepare archive
      shell: cmd
      run: |
        mkdir archive-${{matrix.BUILD_TYPE}}
        cd archive-${{matrix.BUILD_TYPE}}
        copy "${{github.workspace}}\build\app\gui\${{matrix.BUILD_TYPE}}\irritator-0.1.exe" irritator.exe
        cd ..

    - name: Upload archive
      uses: actions/upload-artifact@v4
      with:
        name: irritator-${{matrix.BUILD_TYPE}}
        path: |
          archive-${{matrix.BUILD_TYPE}}